<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>863833481256-q8bsig0trankr42ogted25cuo0258dbd.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.863833481256-q8bsig0trankr42ogted25cuo0258dbd</string>
	<key>API_KEY</key>
	<string>AIzaSyAUD5Kbw5IhtBcCT873jPvfoUai1FWWeJU</string>
	<key>GCM_SENDER_ID</key>
	<string>863833481256</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.treamz.photomate</string>
	<key>PROJECT_ID</key>
	<string>photomate-79745</string>
	<key>STORAGE_BUCKET</key>
	<string>photomate-79745.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:863833481256:ios:11e6ffc38b507c0369151d</string>
</dict>
</plist>